*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.icono-cabecera {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.cabecera h1 {
    margin: 0;
    color: white;
    font-size: 24px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: cadetblue;
    text-align: center;
    padding: 10px 0;
    color: white;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.footer p {
    font-size: 14px;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.h1-principal{
    color: cadetblue;
    margin-bottom: 50px;
}

.formulario-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container-botones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.boton-principal {
    color: cadetblue;
    font-weight: bold;
    background-color: white;
    border: 2px solid cadetblue;
    text-align: start;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-principal:hover {
    background-color: cadetblue;
    color: white;
}

.body-error-500{
    background-image: url(../IMG/error500.jpg);
    background-size: 61%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.body-error-404{
    background-image: url(../IMG/error404.jpg);
    background-size: 61%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.enlace-error {
    position: absolute;
    left: 420px;
    bottom: 60px;
    padding: 10px 20px;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid cadetblue;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.enlace-acciones, .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: cadetblue;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid cadetblue;
    transition: background-color 0.3s ease, color 0.3s ease;
    line-height: normal;
    height: auto;
    box-sizing: border-box;
}

.enlace-error:hover, .boton:hover, .enlace-acciones:hover {
    background-color: white;
    color: cadetblue;
}

.formulario-agregar, .informacion-usuario, .container-notificacion {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 40px;
    margin: 80px auto;
    width: max-content;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

.h1-principal {
    text-align: center;
    font-size: 24px;
    color: cadetblue;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
}

.container-inputs div {
    margin-bottom: 20px;
}

.container-inputs label {
    display: block;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 5px;
}

.container-inputs input,
.container-inputs select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #34495e;
    background-color: #f9f9f9;
}

.container-inputs input:focus,
.container-inputs select:focus {
    border: 2px solid cadetblue;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
    display: inline-block;
}

.formulario-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 30px;
}

.informacion-usuario p{
    font-size: 18px;
    margin-top:8px;
}

.informacion-usuario h1, .visualizar-h1{
    color: cadetblue;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;

}

.info-p{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-notificacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.aviso{
    color: orange;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.confirmacion{
     color: green;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.tabla-visualizar {
    width: 80%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.tabla-visualizar th, .tabla-visualizar td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

.tabla-visualizar th {
    background-color: cadetblue;
    color: white;

}

.tabla-visualizar tr:nth-child(even) {
    background-color: #f0f0f0;
}

.tabla-visualizar tr:nth-child(odd) {
    background-color: #ffffff;
}

input[type="radio"]{
    accent-color: cadetblue;
    transform: scale(1.5);
    margin: 5px;
}

.formulario-modificar{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modificar-botones{
    display: flex;
    gap: 100px;
}

.boton-modificar{
    display: flex;
    justify-content: center;
    align-content: center;
}

.inicio-agregar{
    margin-bottom: 80px;
}